body {
    background-color: #966fd6;
}

h1 {
    border-top: 100px;
    margin-top: 100px;
    text-align: center;
}

p  {
    text-align: center;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}